@use "../base/dimensions";

:root {
    --code-colour: light-dark(hsl(220, 13%, 95%), hsl(220, 7%, 18%));
    --code-border-colour: light-dark(hsl(220, 13%, 75%), hsl(225, 7%, 38%));

    --button-bg-colour: light-dark(hsl(0, 0%, 0%), hsl(0, 0%, 100%));
    --button-active-colour: light-dark(hsl(0, 0%, 60%), hsl(0, 0%, 40%));
    --button-outline-colour: hsl(240, 50%, 50%);
    --button-shadow-colour: hsl(240, 50%, 80%);

    --button-text-colour: light-dark(hsl(0, 0%, 100%), hsl(0, 0%, 0%));
}

body {
    min-block-size: 100vh;
}

.container {
    max-inline-size: 64em;
    margin-inline: auto;
}

.code {
    display: inline;

    padding-inline: 0.2em;

    background-color: var(--code-colour);

    border: 1px solid var(--code-border-colour);
    border-radius: 4px;

    font-family: monospace, monospace;

    white-space: pre-wrap;

    transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.button {
    display: inline-block;

    padding-block: 0.5em;
    padding-inline: 0.75em;

    border: none;
    border-radius: 6px;

    background-color: var(--button-bg-colour);
    color: var(--button-text-colour);

    cursor: pointer;

    &:hover,
    &:active {
        background-color: var(--button-active-colour);
    }

    &:active,
    &:focus {
        outline-style: solid;
        outline-width: thin;
        outline-color: var(--button-outline-colour);

        box-shadow: 0px 0px 4px 2px var(--button-shadow-colour);
    }

    transition: background-color 0.25s ease-in-out,
        outline-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

:root .github-icon,
:root[data-scheme="light"] .github-icon {
    &__black {
        display: inline-block;
    }

    &__white {
        display: none;
    }
}

:root[data-scheme="dark"] .github-icon {
    &__black {
        display: none;
    }

    &__white {
        display: inline-block;
    }
}

.site-header {
    padding-block: 1em;
    padding-inline: 2em;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
}

.navigation {
    &__links {
        margin: 0;
        padding: 0;

        list-style: none;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;

        &__link {
            display: flex;
            align-items: center;
            gap: 0.5em;

            &__icon {
                &__image {
                    block-size: 2em;
                    inline-size: 2em;
                }
            }

            &__label {
                font-size: 1.25em;
            }
        }
    }
}

.site-body {
    padding-block: 1em;
    padding-inline: 2em;

    &__header,
    &__body,
    &__footer {
        padding-block: 0.5em;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        &__title {
            text-align: center;
        }

        &__logo {
            margin-block: 0.5em;
        }

        &__description {
            text-align: center;
        }
    }

    &__footer {
        gap: 0.5em;

        &__invite {
            text-align: center;
        }

        &__widget {
            max-inline-size: 100%;
        }
    }
}

.projects {
    &__list {
        margin-block-start: 0;

        padding-inline-start: 1em;

        list-style: none;
    }
}

.project {
    &__heading {
        margin-inline-start: -0.5em;

        border-block-end: 1px solid var(--border-colour);

        transition: border-block-end-color 0.5s ease-in-out;
    }

    &__description {
        max-inline-size: 70ch;
    }
}

.site-footer {
    padding-block: 0.5em;

    border-block-start: 1px solid var(--border-colour);

    transition: border-block-start-color 0.5s ease-in-out;

    &__attribution {
        margin: 0;

        text-indent: 0.5em;
    }
}
