@forward "base/reset";

:root,
:root[data-scheme="auto"] {
    color-scheme: light dark;
}

:root[data-scheme="light"] {
    color-scheme: light;
}

:root[data-scheme="dark"] {
    color-scheme: dark;
}

:root,
:root[data-theme="normal"] {
    --bg-colour: light-dark(hsl(0, 0%, 100%), hsl(0, 0%, 10%));
    --text-colour: light-dark(hsl(0, 0%, 0%), hsl(0, 0%, 100%));
}

:root {
    background-color: var(--bg-colour);
    color: var(--text-colour);
}
