@forward "base/reset";

:root {
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Noto Sans", "Open Sans",
        "Helvetica Neue", sans-serif;
}

:root,
:root[data-scheme="auto"] {
    color-scheme: light dark;
}

:root[data-scheme="light"] {
    color-scheme: light;
}

:root[data-scheme="dark"] {
    color-scheme: dark;
}

:root,
:root[data-theme="normal"] {
    --bg-colour: light-dark(hsl(0, 0%, 100%), hsl(0, 0%, 10%));
    --text-colour: light-dark(hsl(0, 0%, 0%), hsl(0, 0%, 100%));
}

:root {
    font-family: var(--font-family);

    background-color: var(--bg-colour);
    color: var(--text-colour);
}
