*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    line-height: 1.5;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Noto Sans", "Open Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
}

main {
    display: block;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    aspect-ratio: auto 16 / 9;
}

input,
button,
textarea,
select,
optgroup {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
}

button,
input {
    overflow: visible;
    text-transform: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: 0.5em;
    overflow-wrap: break-word;
}

ul {
    margin-block: 0.5em;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    font-size: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

b,
strong {
    font-weight: bolder;
}

pre,
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

a {
    color: inherit;
}
